{% extends 'student/studenthome.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block content %}


<div class="row column3" style="height:600px; width: 1000px;">
<!-- testimonial -->
 <div class="col-md-6">
     <div class="dark_bg full margin_bottom_30">
         <div class="full graph_head">
             <div class="heading1 margin_0">
                 <h2>PROFILE</h2>
             </div>
         </div>
         <div class="full graph_revenue">
             <div class="row">
                 <div class="col-md-12">
                     <div class="content testimonial">
                         {% csrf_token %}
                        {% for i in data %}
                     <div style="margin-top:5px;margin-left:30px;color:white;">


                     <br><br>
                    <div style="color: white;">
                      <p style="color: white;">Name : {{i.name}}</p>
                      <p style="color: white;">Student id : {{i.student_id}}</p>
                      <p style="color: white;">Course : {{i.course}}</p>
                      <p style="color: white;">Semester : {{i.semester}}</p>

                     </div>

                   </div>
                   {% endfor %}


                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
</div>
                        <!-- end testimonial -->
</div>



{% endblock %}




