{% extends 'teacher/teacherhome.html' %}
{% block content %}


<div class="card" style="color:black;width:1000px;">
  <h3 style="margin-top:20px;margin-left:400px">VIEW GRADE</h3>
<table class="table">
  <tr>
    <th>SI NO</th>
    <th>Student Name</th>
    <th>Course</th>
    <th>Year</th>
    <th>Semester</th>
    <th>Grade</th>
    <th>status</th>
    <th>status</th>
  </tr>

  {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{i.student}}</td>
    <td>{{i.course}}</td>
    <td>{{i.year}}</td>
    <td>{{i.semester}}</td>
    <td>{{i.grade}}</td>

    <td><a href="{% url 'gradeupdate' i.id %}" ><button class="btn btn-info" type="submit">Update</button></a></td>
    <td><a href="{% url 'gradedelete' i.id %}"><button class="btn btn-danger" type="submit">Delete</button></a></td>

  </tr>
  {% endfor %}
</table>
</div>

{% endblock %}
