{% extends 'teacher/teacherhome.html' %}
{% block content %}


<div class="card" style="color:black;width:1000px;">
  <h3 style="margin-top:20px;margin-left:400px">VIEW COURSE</h3>
<table class="table">
  <tr>
    <th>SI NO</th>
    <th>Course Name</th>
    <th>course id</th>
    <th>status</th>
    <th>status</th>
  </tr>

  {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{i.title}}</td>
    <td>{{i.course_id}}</td>

    <td><a href="{% url 'courseupdate' i.id %}" ><button class="btn btn-info" type="submit">Update</button></a></td>
    <td><a href="{% url 'coursedelete' i.id %}"><button class="btn btn-danger" type="submit">Delete</button></a></td>

  </tr>
  {% endfor %}
</table>
</div>

{% endblock %}
